@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<div class="content">
    <div class="container-fluid">

        <script type="text/javascript">
            $(document).ready(() => {
                let connection = new signalR.HubConnectionBuilder()
                    .withUrl("https://localhost:5151/SignalRHub").build();

                connection.start().then(() => {
                    setInterval(() => {
                        connection.invoke("SendCategoryCount");
                        connection.invoke("SendProductCount");
                        connection.invoke("SendActiveCategoryCount");
                        connection.invoke("SendPassiveCategoryCount");
                        connection.invoke("SendProductCountByCategoryNameHamburger");
                        connection.invoke("SendProductCountByCategoryNameDrink");
                        connection.invoke("SendProductPriceAverage");
                        connection.invoke("SendProductWithHighestPrice");
                        connection.invoke("SendProductWithMinPrice");
                        connection.invoke("SendAverageHamburgerPrice");
                        connection.invoke("SendOrderCount");
                        connection.invoke("SendActiveOrderCount");
                        connection.invoke("SendLastOrderPrice");
                        connection.invoke("SendTotalAmountFromMoneyCase");
                        connection.invoke("SendTodayTotalPrice");
                        connection.invoke("SendTableCount");
                    }, 1000)

                }).catch((error) => {
                    console.log(error)
                });

                connection.on("ReceiveCategoryCount", (value) => {
                    $("#categoryCount").text(value)
                })

                connection.on("ReceiveProductCount", (value) => {
                    $("#productCount").text(value)
                })

                connection.on("ReceiveActiveCategoryCount", (value) => {
                    $("#activeCategoryCount").text(value)
                })

                connection.on("ReceivePassiveCategoryCount", (value) => {
                    $("#passiveCategoryCount").text(value)
                })

                connection.on("ReceiveProductCountByCategoryNameHamburger", (value) => {
                    $("#hamburgerProductCount").text(value)
                })

                connection.on("ReceiveProductCountByCategoryNameDrink", (value) => {
                    $("#drinkProductCount").text(value)
                })

                connection.on("ReceiveProductPriceAverage", (value) => {
                    $("#productPriceAverage").text(value)
                })

                connection.on("ReceiveProductWithHighestPrice", (value) => {
                    $("#productWithHighestPrice").text(value)
                })

                connection.on("ReceiveProductWithMinPrice", (value) => {
                    $("#productWithMinPrice").text(value)
                })

                connection.on("ReceiveAverageHamburgerPrice", (value) => {
                    $("#averageHamburgerPrice").text(value)
                })

                connection.on("ReceiveOrderCount", (value) => {
                    $("#orderCount").text(value)
                })

                connection.on("ReceiveActiveOrderCount", (value) => {
                    $("#activeOrderCount").text(value)
                })

                connection.on("ReceiveLastOrderPrice", (value) => {
                    $("#lastOrderPrice").text(value)
                })

                connection.on("ReceiveTotalAmountFromMoneyCase", (value) => {
                    $("#totalAmountFromMoneyCase").text(value)
                })

                connection.on("ReceiveTodayTotalPrice", (value) => {
                    $("#todayTotalPrice").text(value)
                })

                connection.on("ReceiveTableCount", (value) => {
                    $("#tableCount").text(value)
                })

                
            });
        </script>

        <h4 class="page-title">Anlık İstatistik Sayfası</h4>
        <div class="row">
            <div class="col-md-3">
                <div class="card card-stats card-warning">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-users"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Kategori Sayısı</p>
                                    <h4 class="card-title" id="categoryCount"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-stats card-success">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-bar-chart"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Ürün Sayısı</p>
                                    <h4 class="card-title" id="productCount"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-stats card-danger">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-newspaper-o"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Aktif Kategori sayısı</p>
                                    <h4 class="card-title" id="activeCategoryCount"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-stats card-primary">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-check-circle"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Pasif Kategori Sayısı</p>
                                    <h4 class="card-title" id="passiveCategoryCount"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="card card-stats card-warning">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-users"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Hamburger Ürün Sayısı</p>
                                    <h4 class="card-title" id="hamburgerProductCount"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-stats card-success">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-bar-chart"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">İçecek Ürün Sayımız</p>
                                    <h4 class="card-title" id="drinkProductCount"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-stats card-danger">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-newspaper-o"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Ortalama Ürün Fiyatı</p>
                                    <h4 class="card-title" id="productPriceAverage"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-stats card-primary">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-star"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">En pahalı ürün</p>
                                    <h4 class="card-title" id="productWithHighestPrice"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="card card-stats card-warning">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-tripadvisor"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">En Ucuz Ürün</p>
                                    <h4 class="card-title" id="productWithMinPrice"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-stats card-success">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-bar-chart"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Ortalama Hamburger Fiyatı</p>
                                    <h4 class="card-title" id="averageHamburgerPrice"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-stats card-danger">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-lemon-o"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Toplam Sipariş Sayısı</p>
                                    <h4 class="card-title" id="orderCount"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-stats card-primary">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-heart"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Aktif Sipariş Sayısı</p>
                                    <h4 class="card-title" id="activeOrderCount"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="card card-stats card-warning">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-beer"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Son Sipariş Tutarı</p>
                                    <h4 class="card-title" id="lastOrderPrice"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-stats card-success">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-bank"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Kasadaki Toplam Para</p>
                                    <h4 class="card-title" id="totalAmountFromMoneyCase"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-stats card-danger">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-home"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Bugünki Toplam Kazanç</p>
                                    <h4 class="card-title" id="todayTotalPrice"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-stats card-primary">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-cutlery"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <p class="card-category">Toplam Masa Sayısı</p>
                                    <h4 class="card-title" id="tableCount"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>