@model UpdateTestimonialRequest

@{
    ViewData["Title"] = "UpdateTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Referans Güncelle</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Referans Güncelle</div>
                        </div>
                        <input type="hidden" asp-for="Id" />
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Name">Referans Adı</label>
                                <input type="text" class="form-control" asp-for="Name" id="Name" placeholder="Referans Adını Girin">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Title">Başlık</label>
                                <input type="text" class="form-control" asp-for="Title" id="Title" placeholder="Referans Başlığını Girin">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Comment">Yorum</label>
                                <input type="text" class="form-control" asp-for="Comment" id="Comment" placeholder="Referans Yorumunu Girin">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="ImageUrl">Image Url</label>
                                <input type="text" class="form-control" asp-for="ImageUrl" id="ImageUrl" placeholder="Image Url Girin">
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-success">Referans Güncelle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>