@model UpdateSocialMediaRequest

@{
    ViewData["Title"] = "UpdateSocialMedia";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Sosyal Medya Güncelle</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Sosyal Medya Güncelle</div>
                        </div>
                        <input type="hidden" asp-for="Id" />
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Title">Başlık Adı</label>
                                <input type="text" class="form-control" asp-for="Title" id="Title" placeholder="Sosyal Medya Platformunu Girin">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="ImageUrl">Image Url</label>
                                <input type="text" class="form-control" asp-for="ImageUrl" id="ImageUrl" placeholder="Image Url Girin">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="AccountUrl">Link</label>
                                <input type="text" class="form-control" asp-for="AccountUrl" id="AccountUrl" placeholder="Sosyal Medya Linkini Girin">
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-success">Sosyal Medya Güncelle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>